<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image name</th>
      <th>Gender</th>
      <th>Temperature preference</th>
      <th>Comfortable temperature</th>
      <th>Comfortable humidity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.image_name %></td>
        <td><%= person.gender %></td>
        <td><%= person.temperature_preference %></td>
        <td><%= person.comfortable_temperature %></td>
        <td><%= person.comfortable_humidity %></td>
        <td><%= person.zone_id %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
