<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @person.image_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Temperature preference:</strong>
  <%= @person.temperature_preference %>
</p>

<p>
  <strong>Comfortable temperature:</strong>
  <%= @person.comfortable_temperature %>
</p>

<p>
  <strong>Comfortable humidity:</strong>
  <%= @person.comfortable_humidity %>
</p>
<p>
  <strong>Zone ID:</strong>
  <%= @person.zone_id %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
