<%= form_for(@zone) do |f| %>
  <% if @zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
      <% @zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zone_name %><br>
    <%= f.text_field :zone_name %>
  </div>
  <div class="field">
    <%= f.label :target_temperature %><br>
    <%= f.text_field :target_temperature %>
  </div>
  <div class="field">
    <%= f.label :current_temperature %><br>
    <%= f.text_field :current_temperature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
