<p id="notice"><%= notice %></p>

<p>
  <strong>Zone name:</strong>
  <%= @zone.zone_name %>
</p>

<p>
  <strong>Target temperature:</strong>
  <%= @zone.target_temperature %>
</p>

<p>
  <strong>Current temperature:</strong>
  <%= @zone.current_temperature %>
</p>
<p>
  <strong>Machine ID:</strong>
  <%= @zone.machine_id %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
